# =========================
# PYTHON CACHE FILES
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# VIRTUAL ENV
# =========================
venv/
env/
.venv/

# =========================
# ENV FILES
# =========================
.env

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/
